<!DOCTYPE html>
<html lang="en" ng-app="NoteApp">

<head>
  <meta charset="UTF-8">
  <title>Note App</title>
  <link rel="stylesheet" href="assets/styles/bootstrap.css">
  <link rel="stylesheet" href="assets/styles/bootstrap-theme.css">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">
          <a href="/#/">NoteApp</a>
        </div>
      </div>
      <na-page-nav></na-page-nav>
    </div>
  </nav>
  <div ng-view class="container-fluid"></div>
</body>
<!-- bower files -->
<script src="assets/javascript/vendor/bower_components/jquery/dist/jquery.js"></script>
<script src="assets/javascript/vendor/bower_components/angular/angular.js"></script>
<script src="assets/javascript/vendor/bower_components/angular-route/angular-route.js"></script>
<script src="assets/javascript/vendor/bower_components/angular-resource/angular-resource.js"></script>
<!-- App -->
<script src="assets/javascript/app.js"></script>
<script src="assets/javascript/routes.js"></script>
<!-- Directives -->
<script src="assets/javascript/directives/naPageNav.js"></script>
<script src="assets/javascript/directives/naCategorySelector.js"></script>
<!-- Controllers -->
<script src="assets/javascript/controllers/noteIndexController.js"></script>
<script src="assets/javascript/controllers/noteShowController.js"></script>
<script src="assets/javascript/controllers/noteEditController.js"></script>
<script src="assets/javascript/controllers/noteCreateController.js"></script>
<script src="assets/javascript/controllers/usersShowController.js"></script>
<script src="assets/javascript/controllers/usersIndexController.js"></script>
<!-- Services -->
<script src="assets/javascript/services/note.js"></script>
<script src="assets/javascript/services/user.js"></script>
<script src="assets/javascript/services/category.js"></script>
</html>
